<div>
    <h2>
        {{title}}
    </h2>
    <p>
        {{{brainActivity}}}
    </p>
    <p>
        {{content}}
    </p>
    <p>
        the IP of: {{author}}
    </p>
    <p>
        <span for='img' aria-label="satelite">📡</span>
        <span class="dollar-amount">{{cookTheBooks}}</span>
        help us reach a billion subscribers, don't forget to share
    </p>
    <p>
        <button class="btn btn-primary">
            Share this content!
        </button>
    </p>
</div>