<div>
    <h2>{{title}}</h2>
    <p>{{brainActivity}}</p>
    <p>{{{content}}}</p>
    <p>IP of {{blog.author}} on {{digitalDisplay dateCreated}}</p>
    <p>
        <span for='img' aria-label="satelite">
            📡
        </span>
        again, don't forget to share!
    </p>
</div>